#body{
    font-family: 'Roboto';font-size: 22px;
    text-decoration: none;
    background-color: #000000;

}

.back {

    background-color: #b75200;
    margin: 1rem;
    
     

}
.border1 {

    border: solid 3px rgb(174, 32, 0);
    border-radius: 5%;
} 

.titre1 {

    color: rgb(173, 0, 0);

}

.titre2 {

  color:black;

}
.titre3{

    color: #b75200;

}
#header img {

    border-radius: 5%;
    
}
.navbar-brand {

color: rgb(174, 0, 0);

}
.nav-link {

    color: rgb(173, 0, 0);

    
}

main {
    
    margin-left: 1rem;
    margin-right: 1rem;
}
#Histoire
{
    color: #d36f04;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-top: 3rem;

}
#video{
text-decoration: none;
align-items: center;
color: #d36f04;
   

}
.Cards {
    
    font-weight: 800;
    font-size: 1.2rem;
    border:solid rgb(174, 32, 0) 2px;
    text-align: center;
    color: #d36f04;
    border-radius: 5%;
    width: 45%;
    background-color: rgb(0, 0, 0);
    padding-top: 1vh;
    
    }


    .Cards:hover{

        font-weight: 800;
        color:black;
        background-color: #b75200;
        border:solid #cb0000  3px;
        transition: 1s;
        

        }
    .Cards a p:hover{
        text-decoration: none;
        color: #000000;
    }    

#description{

    text-align :center;
    margin: auto;
}
ol a{
    text-decoration: none;
    color:  rgb(173, 0, 0);
}

#description ol a:hover{
    text-decoration: none;
    color: black;
}

#spec { 
    display: flex;
    color:#d36f04;
    display: flex;
    justify-content: space-around;
    
    
    

}




li{
    color: #d36f04;

    
}


h3 
{
    color: rgb(179, 7, 7);
    text-align: center;
    margin: 2rem;
}
#para {
    color: #d36f04;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 4rem;

}

#galerie {

    display: flex;
    justify-content: space-around;
    margin-bottom: 3vh;
}

#galerie img {
    width: 45%;
    border-radius: 5%;

}

