body {
    font-family: 'Roboto';font-size: 22px;
    text-decoration: none;
    }
header {
    width: 100%;
    height: 20vh;
    background-color: #777777;
    display: flex;
    padding-left:7% ;

}
.shenron:hover{

    color: #f7f3ef;

}
header h1 {

    color:#fb9600 ;
    margin-top: 8vh;
    font-size: 3vh;
}
header img {
    height: 50%;
    margin-top: 5vh;

}
header div {
    width: calc(100% - 20vh);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

main img{
    /* padding: 0.5rem; */
    margin-top: 1vh;
    width: 90%;
    border-radius: 3%;
}

.Cards {
    
    font-weight: 800;
    font-size: 3vh;
    border:solid #fb9600 3px;
    text-align: center;
    color: #fb9600;
    margin: 1rem;
    border-radius: 5%;
    width: 30%;

}
footer {

    text-align: center;
    width: 100%;
    height: 8vh;
    color: #fb9600;
    background-color: rgb(77,77, 77);
    padding-top: 2vh;
}
.Cards:hover{

    color: #f7f3ef;
    background-color: #fb9600;
    border:solid #fb5400 3px;
    transition: 1s;
    
}
a{
    text-decoration: none;
    color: #fb9600;
}
a:hover{
    color: #f7f3ef;
    transition: 1s;
}